quartet_integrations/templates/tracelink/xsd2.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://tracelink.com/snx">

<xs:complexType name="ReferenceDocuments">
<xs:sequence>
<xs:element name="PONumber" type="xs:string" nillable="true" minOccurs="0" />
<xs:element name="POLine" type="xs:string" nillable="true" minOccurs="0" />
<xs:element name="WorkOrderNumber" type="xs:string" nillable="true" minOccurs="0" />
<xs:element name="ReferenceId" type="xs:string" nillable="true" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>