quartet_integrations/templates/rocit/wsdl/RetrievePackagingHierarchy.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions
     name="PackagingHierarchyServiceAMService"
     targetNamespace="http://xmlns.oracle.com/oracle/apps/pas/serials/serialsService/applicationModule/common/"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:errors="http://xmlns.oracle.com/adf/svc/errors/"
     xmlns:orafault="http://xmlns.oracle.com/oracleas/schema/oracle-fault-11_0"
     xmlns:tns="http://xmlns.oracle.com/oracle/apps/pas/serials/serialsService/applicationModule/common/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:types="http://xmlns.oracle.com/oracle/apps/pas/serials/serialsService/applicationModule/common/types/"
    >
    <plnk:partnerLinkType name="PackagingHierarchyServiceAMService">
        <plnk:role name="PackagingHierarchyServiceAMServiceProvider">
            <plnk:portType name="tns:PackagingHierarchyServiceAMService"/>
        </plnk:role>
        <plnk:role name="PackagingHierarchyServiceAMServiceRequestor">
            <plnk:portType name="tns:PackagingHierarchyServiceAMServiceResponse"/>
        </plnk:role>
    </plnk:partnerLinkType>
<wsp:Policy xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" wsu:Id="wsaddr_policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
   <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"/>
</wsp:Policy><wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" wsu:Id="wss_saml_or_username_token_service_policy" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
   <wsp:ExactlyOne>
      <wsp:All>
         <sp:SupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
            <wsp:Policy>
               <sp:SamlToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                  <wsp:Policy>
                     <sp:WssSamlV11Token10/>
                  </wsp:Policy>
               </sp:SamlToken>
            </wsp:Policy>
         </sp:SupportingTokens>
      </wsp:All>
      <wsp:All>
         <sp:SupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
            <wsp:Policy>
               <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                  <wsp:Policy>
                     <sp:WssUsernameToken10/>
                  </wsp:Policy>
               </sp:UsernameToken>
            </wsp:Policy>
         </sp:SupportingTokens>
      </wsp:All>
   </wsp:ExactlyOne>
</wsp:Policy>    <wsdl:import namespace="http://xmlns.oracle.com/adf/svc/errors/" location="http://teeproxy.oracle.avkare.com:8001/opsmservices-serials/PackagingHierarchyServiceAMService?WSDL=/META-INF/wsdl/ServiceException.wsdl"/>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.oracle.com/oracleas/schema/oracle-fault-11_0" schemaLocation="http://teeproxy.oracle.avkare.com:8001/opsmservices-serials/PackagingHierarchyServiceAMService?XSD=/META-INF/oracle-webservices-async-fault-11_0.xsd"/>
            <import namespace="http://xmlns.oracle.com/oracle/apps/pas/serials/serialsService/applicationModule/common/types/"
                 schemaLocation="http://teeproxy.oracle.avkare.com:8001/opsmservices-serials/PackagingHierarchyServiceAMService?XSD=/oracle/apps/pas/serials/serialsService/applicationModule/common/serviceinterface/PackagingHierarchyServiceAMService.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="PackagingHierarchyServiceAMService_retrievePackagingHierarchy">
        <wsdl:part name="parameters" element="types:retrievePackagingHierarchy"/>
    </wsdl:message>
    <wsdl:message name="PackagingHierarchyServiceAMService_retrievePackagingHierarchyResponse">
        <wsdl:part name="parameters" element="types:retrievePackagingHierarchyResponse"/>
    </wsdl:message>
    <wsdl:message name="PackagingHierarchyServiceAMService_retrievePackagingHierarchyAsync">
        <wsdl:part name="parameters" element="types:retrievePackagingHierarchyAsync"/>
    </wsdl:message>
    <wsdl:message name="PackagingHierarchyServiceAMService_onFault">
        <wsdl:part name="parameters" element="orafault:Fault"/>
    </wsdl:message>
    <wsdl:message name="PackagingHierarchyServiceAMService_retrievePackagingHierarchyAsyncResponse">
        <wsdl:part name="parameters" element="types:retrievePackagingHierarchyAsyncResponse"/>
    </wsdl:message>
    <wsdl:portType name="PackagingHierarchyServiceAMService">
        <wsdl:documentation>
            <ViewInstance xmlns="http://xmlns.oracle.com/adf/svc/metadata/" Name="PackagingHierarchyResponse"
                 xmlns:ns0="http://xmlns.oracle.com/oracle/apps/pas/serials/serialsService/view/common/"
                 SDOName="ns0:PackagingHierarchyResponseVOSDO"/>
            <ViewInstance xmlns="http://xmlns.oracle.com/adf/svc/metadata/" Name="RetrievePackagingHierarchy"
                 xmlns:ns0="http://xmlns.oracle.com/oracle/apps/pas/serials/serialsService/view/common/"
                 SDOName="ns0:RetrievePackagingHierarchyVOSDO"/>
        </wsdl:documentation>
        <wsdl:operation name="retrievePackagingHierarchy">
            <wsdl:input message="tns:PackagingHierarchyServiceAMService_retrievePackagingHierarchy"/>
            <wsdl:output message="tns:PackagingHierarchyServiceAMService_retrievePackagingHierarchyResponse"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="retrievePackagingHierarchyAsync">
            <wsdl:input message="tns:PackagingHierarchyServiceAMService_retrievePackagingHierarchyAsync"
                 xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl" ns1:Action="http://xmlns.oracle.com/oracle/apps/pas/serials/serialsService/applicationModule/common/retrievePackagingHierarchyAsync"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="PackagingHierarchyServiceAMServiceResponse">
        <wsdl:operation name="onFault">
            <wsdl:input message="tns:PackagingHierarchyServiceAMService_onFault" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action="http://xmlns.oracle.com/oracleas/schema/oracle-fault-11_0/Fault"/>
        </wsdl:operation>
        <wsdl:operation name="retrievePackagingHierarchyAsyncResponse">
            <wsdl:input message="tns:PackagingHierarchyServiceAMService_retrievePackagingHierarchyAsyncResponse"
                 xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl" ns1:Action="http://xmlns.oracle.com/oracle/apps/pas/serials/serialsService/applicationModule/common/retrievePackagingHierarchyAsyncResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PackagingHierarchyServiceAMServiceSoapHttp" type="tns:PackagingHierarchyServiceAMService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#wss_saml_or_username_token_service_policy" wsdl:required="false"/>
      <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#wsaddr_policy" wsdl:required="false"/>
        <wsdl:operation name="retrievePackagingHierarchy">
            <soap:operation soapAction="http://xmlns.oracle.com/oracle/apps/pas/serials/serialsService/applicationModule/common/retrievePackagingHierarchy"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="retrievePackagingHierarchyAsync">
            <soap:operation soapAction="http://xmlns.oracle.com/oracle/apps/pas/serials/serialsService/applicationModule/common/retrievePackagingHierarchyAsync"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="PackagingHierarchyServiceAMServiceResponseBinding" type="tns:PackagingHierarchyServiceAMServiceResponse">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="onFault">
            <soap:operation soapAction="http://xmlns.oracle.com/oracleas/schema/oracle-fault-11_0/Fault"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="retrievePackagingHierarchyAsyncResponse">
            <soap:operation soapAction="http://xmlns.oracle.com/oracle/apps/pas/serials/serialsService/applicationModule/common/retrievePackagingHierarchyAsyncResponse"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PackagingHierarchyServiceAMService">
        <wsdl:port name="PackagingHierarchyServiceAMServiceSoapHttpPort" binding="tns:PackagingHierarchyServiceAMServiceSoapHttp">
            <soap:address location="http://teeproxy.oracle.avkare.com:8001/opsmservices-serials/PackagingHierarchyServiceAMService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
